<html>
	<head>
		<title>Patient Dashboard</title>
		<script type="text/javascript" language="javascript"
			src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  >
		</script>
		<meta http-equiv='content-type' content='text/html;charset=UTF-8' />
		<script language="javascript">
			tstUsername = "";
			tstCurrentDate = "<%= @date %>";
			//tt_cancel_destination = '/clinic';
			tt_cancel_show = '/patients/show/<%=@patient.id %>' ;
		</script>
	</head>
	<body>
		<div id='content'>
			<div id='description' style='color:#777;position:absolute;margin-top:-100px;'></div>
			<form id = 'dashboard' action='/clinic'>
			    <div id='project_name'>
					<div style="font-size: 0.8em; margin-top: 28px;">
						<span style="font-size: 45px;">TeMTCT</span>
					</div>
			    </div>
			    <span id='patient_name'><%= "Participant" %></span>
			    <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
			    <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
			    <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
			    <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

			    <div id="patient_card">
			    </div>

			    <select id="tabs">
					<option value='/patients/confirm_tab?patient_id=<%= @patient.id %>'>Confirm</option>
				</select>
					
				<% if @patient.person.dead == 1%>
					<select id="links">
					</select>
					<select id="navigation_links">
						<option link='<%= ((session[:datetime].to_date rescue '') != '' ?
							"/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
							<%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
					</select>
				<% else %>
					<select id="links">
						<% if @confirmed_demographics != "Yes"%>

							<option value='/confirm/demographics?patient_id=<%= @patient.id -%>'>Rekey demographics</option>
						<% end %>
					</select>
			
					<select id="navigation_links">
						<% if (session[:datetime].to_date rescue '') != '' %>
							<option link="/encounter_types?patient_id=<%= @patient.id -%>" ttSize = "160px">Tasks</option>
						<% end %>
					</select>
				<% end %>
			</form>
		</div>
        <% unless flash[:notice].nil? %>
          <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_error" style="color: red"><%= flash[:error] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_alert" style="color: green"><%= flash[:alert] %></p>
        <% end %>
        <%= yield %>  
	</body>
</html>

