<html>
	<head>
		<title>Patient Dashboard</title>
		<script type="text/javascript" language="javascript"
			src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  >
		</script>
		<meta http-equiv='content-type' content='text/html;charset=UTF-8' />
		<script language="javascript">
			tstUsername = "";
			tstCurrentDate = "<%= @date %>";
			//tt_cancel_destination = '/clinic';
			tt_cancel_show = '/clinic';
		</script>
	</head>
	<body>
		<div id='content'>
			<div id='description' style='color:#777;position:absolute;margin-top:-100px;'></div>
			<form id = 'dashboard' action='/clinic'>
			    <div id='project_name'>
					<div style="font-size: 0.8em; margin-top: 28px;">
						<span style="font-size: 45px;">TeMTCT</span>
					</div>
			    </div>
			    <span id='patient_name'><%= "Participant" %></span>
			    <span id='patient_id'><%= @patient_bean.national_id rescue "" %></span>
			    <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
			    <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
			    <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

			    <div id="patient_card">
					<% if (session[:datetime].to_date rescue '') != '' %>
						<span value="<%= @date rescue "" %>">Date</span>
					<% end %>
			    </div>

			    <select id="tabs">
					<option value='/patients/overview?patient_id=<%= @patient.id %>'>Overview</option>
					<option value='/patients/visit_history?patient_id=<%= @patient.id %>'>Today</option>
					<option value='/patients/past_visits_summary?patient_id=<%= @patient.id %>'>History</option>
				</select>
					
				<% if @patient.person.dead == 1%>
					<select id="links">
						<option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
					</select>
					<select id="navigation_links">
						<option link='<%= ((session[:datetime].to_date rescue '') != '' ?
							"/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
							<%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
					</select>
				<% else %>
					<select id="links">
						<% if (session[:datetime].to_date rescue '') != '' %>
							<option value='/encounters/new/temtct_registration?patient_id=<%= @patient.id -%>'>Register</option>
							<option value='/encounters/new/anc_followup?patient_id=<%= @patient.id -%>'>ANC Followup</option>
							<option value='/encounters/new/pnc_followup?patient_id=<%= @patient.id -%>'>PNC Followup</option>
							<% if !@patient_is_child_bearing_female %>
								<option value='/encounters/new/dna_pcr_test?patient_id=<%= @patient.id -%>'>DNA PCR Test</option>
							<% end %>
						<% end %>
					</select>
			
					<select id="navigation_links">
						<% if (session[:datetime].to_date rescue '') != '' %>
							<option link="/encounter_types?patient_id=<%= @patient.id -%>" ttSize = "160px">Tasks</option>
						<% end %>
						<option link='<%= ((session[:datetime].to_date rescue '') != '' ?
						"/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
						<%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
						<option link='/patients/programs_dashboard/<%= @patient.id %>'>Update Outcome</option>
						<!--option link='/patients/confirm/<%= @patient.id %>'>Rekey</option-->
					</select>
				<% end %>
			</form>
		</div>
	</body>
</html>

