<html>
	<head>
		<title>Patient Programs Dashboard</title>
		<script type="text/javascript" language="javascript"
			src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  >
		</script>
		<meta http-equiv='content-type' content='text/html;charset=UTF-8' />

		<script language="javascript">
			tstUsername = "";
			tstCurrentDate = "<%= @date %>";
			//tt_cancel_destination = '/patients/show/<%= @patient.id %>';
			tt_cancel_show = '/patients/show/<%= @patient.id %>';

			var message = '<%= params[:error] rescue "" %>';

			//setTimeout("confirmOperation('" + message + "', null, true)", 300);

		</script>
	</head>
	<body>
		<div id='content'>
			<form id = 'dashboard' action='/clinic'>
				<% unless flash[:notice].nil? %>
					<p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
				<% end %>
				<% unless flash[:error].nil? %>
					<p id="flash_error" style="color: red"><%= flash[:error] %></p>
				<% end %>

				<div id='project_name'>
					<div style="font-size: 0.8em; margin-top: 28px;">
						<span style="font-size: 45px;">TeMTCT</span>
					</div>
				</div>

				<span id='patient_name'><%= "Participant" %></span>
				<span id='patient_id'><%= @patient_bean.national_id rescue "" %></span>
				<% if @patient_is_child_bearing_female %>
					<span id='patient_age'><%= @patient_bean.age rescue "" %></span>
				<% end %>
				<span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

				<div id="patient_card">
					<% if (session[:datetime].to_date rescue '') != '' %>
						<span value="<%= @date rescue "" %>">Date</span>
					<% end %>
				</div>
				<select id="tabs">
					<option value='/patients/programs?patient_id=<%= @patient.id %>'>Outcomes</option>
				</select>
				<select id="links">
				</select>
				<input type='submit' value='Finish' />
			</form>
		</div>
	</body>
</html>
